<html ng-app="app">
<head>

</head>

<body ng-controller="MainCtrl">

  <h3> {{user.name}} posts</h3>
  <ul>
    <li ng-repeat="post in user.posts().all() | orderBy:'created_at':false">
      {{post.content}}
    </li>
    <span ng-click="nextPage()">Load More Posts</span>
  </ul>

<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script src="../../lib/angular.js"></script>
<script src="../../firebase-resource.js"></script>
<script src="../shared.js"></script>
<script src="example_3.js"></script>
</body>

</html>